.index{
	background: url(/img/photo_lucyia.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#index-navbar{
		position: absolute;
		
		a{
			color: @color-light !important;		

			&:hover{
				color: @color-very-light !important;
				border-color: @color-very-light !important;
			}
		}
	}

	.navbar-toggle.navbar-index{
		display: inline-block;	
	}

}

@media (max-width: @screen-xs-max) {
	#index-navbar{
		width: 100%;
		left: 0 !important;
		display: inline-block !important;	
	}
	#index-toggle{
		display: none;
	}
	.index .navbar-nav>li{
		margin: 10px 0px 0px 30px;
	}
}

@media (min-width: @screen-xs-max){
	#index-navbar{
		display: none;
		left: 70%;
	}
	#index-toggle{
		display: inline-block;
	}
}