.portfolio{
	
	.triangle{
		display: block;
		width: 100%;
		height: 400px;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;		
	}

	.triangle-code{
		background-image: url(/img/main/code_triangle_white.png);
	}

	.triangle-design{
		background-image: url(/img/main/design_triangle_white.png);
	}

	.triangle-paint{
		background-image: url(/img/main/paint_triangle_white.png);		
	}

	.triangle-front{
		z-index: 10;
		background-size: 300px auto;
	}

	.triangle-back{
		z-index: 0;		
		background-size: 250px auto;

		.transition(all 0.5s ease-in-out);

		&:hover{
			background-size: 300px auto;
		}
	}

	.triangle-back-code{
		background-image: url(/img/main/code_triangle_back.png);
	}

	.triangle-back-design{
		background-image: url(/img/main/design_triangle_back.png);
	}

	.triangle-back-paint{
		background-image: url(/img/main/paint_triangle_back.png);
	}

}

@media (max-width: @screen-sm-max) {
	.portfolio{
		margin: 50px auto;

		.triangle{
			height: 250px;
		}

		.triangle-back{			
			background-size: 200px auto;

			&:hover{
				background-size: 250px auto;
			}
		}

		.triangle-front{
			background-size: 250px auto;
		}
	}	
}

@media (min-width: @screen-sm-max) and (max-width: @screen-md-max) {
	.portfolio{
		.triangle{
			background-size: 300px;
			height: 400px;
		}

		.triangle-back{
			background-size: 200px auto;
			height: 350px;

			&:hover{			
				background-size: 250px auto;
			}
		}
	}
}