.paint-text{
	color: @color-paint;
}

.paint{
	.col-md-6 {
		margin-top: 0 !important;
	}

	.triangle-heading{
		background-color: @color-paint;
	}

	.triangle-paint{
		background-image: url(/img/main/triangle_red.png);
		background-size: 300px;
	}
}