.project{

	h2{
		color: black;
	}

	.project-row{

		.project-imgs-wrapper{
			margin-left: 15px;

			.col-lg-12{
				margin-bottom: 30px;
			}

			.project-img{
				width: 100%;
			}
		}

		p{
			color: @color-dark;
			padding: 0 15px 0 0;
		}

		.info{

			.info-heading{
				font-weight: 900;
			}
		}
	}
}