.project{

	h2{
		width: 70%;
		float: left;
		color: black;
		text-align: center;
		margin-top: 20px;		
	}

	h3{
		font-size: 16px;
	}

	header, 
	.project-row {
		clear: both;
	}

	.slider{
		width: 15%;
		float: left;	

		.slider-previous>.glyphicon{
			color: @color-very-light;
			font-size: 66px;
		}
	}

	.project-row{
		.project-imgs-wrapper{
			margin-bottom: 30px;
			
			.project-img{
				width: 100%;				
				border: 2px solid @color-very-light;
			}
		}

		p{
			color: @color-dark;
			padding: 0 15px 0 0;
		}

		.info{
			margin-bottom: 30px;

			.info-heading{
				font-weight: 900;
			}
		}
	}
}